{%extends "base.html"%}
    {%block content%}
    <h1>Report</h1>
    <!--
    Todo: Add form results here
    validUsr: Flag for if user is valid, 
    name: actual entered user name, 
    usrNameErrors: list of errors if there are any
    -->
    <p><b>{{name}}</b></p>
    {%if validUsr%}
        <p>Your username is valid!</p>
    {% else %}
        <p>Your username is invalid for the following reasons</p>
    {%endif%}
    <ul>
        {% for error in usrNameErrors %}
            <li>{{error}}</li>
        {% endfor %}
    </ul>
{%endblock%}