{%extends "base.html"%}
{%block content%}
<div class="p-4">
    <h1 class="text-2xl p-3">Form Exercise</h1>
    <!--Todo: Add form details here-->
    <p>Please enter a valid user name containing 1 uppercase, 1 lower case & ending with a number</p>
    <form action="{{url_for('report')}}">
        <span>
            <label for="userName">User Name:</label>
            <input id="userName" type="text" name="userName"/>
        </span>
        <span>
            <input type="submit" name="Submit btn" value="Enter"/>
        </span>
    </form>

    <form>
  <div class="space-y-12">
    <div class="border-b border-white/10 pb-12">
      <h2 class="text-base/7 font-semibold text-white">Profile</h2>
      <p class="mt-1 text-sm/6 text-gray-400">Placeholder test</p>

      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        <div class="sm:col-span-4">
          <label for="username" class="block text-sm/6 font-medium text-white">Username</label>
          <div class="mt-2">
            <div class="flex items-center rounded-md bg-white/5 pl-3 outline-1 -outline-offset-1 outline-white/10 focus-within:outline-2 focus-within:-outline-offset-2 focus-within:outline-indigo-500">
              <div class="shrink-0 text-base text-gray-400 select-none sm:text-sm/6">workcation.com/</div>
                <input id="username" type="text" name="username" placeholder="janesmith" class="block min-w-0 grow bg-transparent py-1.5 pr-3 pl-1 text-base text-white placeholder:text-gray-500 focus:outline-none sm:text-sm/6" />
              </div>
            </div>
          </div>
        </div>


  <div class="mt-6 flex items-center justify-end gap-x-6">
    <button type="submit" class="rounded-md bg-indigo-500 px-3 py-2 text-sm font-semibold text-white focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Save</button>
  </div>
</form>

</div>

{%endblock%}