<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <nav>
            Make a navbar with tailwind
            <!--TODO: Test whether or not this is template name or controller name for the route-->
            <!--TODO: Review documentation for url_for-->
            <!--TODO: Update this page set to be foldered and leverage tailwind css-->
            <!-- <a href="{{url_for('home')}}">Home</a>
            <a href="{{url_for('user', user='bOB')}}">User</a>  -->
        </nav>
        {%block content%}
        {%endblock%}
    </body>
</html>