<!DOCTYPE html>
<html>
    <head>
        <title>Sample Stripe</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">   
    <body class="has-navbar-fixed-top">
        <nav class="navbar is-fixed-top">
            <div class="navbar-brand">
                <span class="navbar-item">Donations</span>
            </div>
            <div class="navbar-menu">
                <div class="navbar-start">
                     <a class="navbar-item" href="{{url_for('index')}}"> Home </a> 
                </div>
            </div>
        </nav>
        <section class="section">
            <div class="container">
                <div class="card">
                    <div class="card-header">
                        <p class="card-header-title">Donations Form</p>
                    </div>
                    <div class="card-content">
                    <div class="content">
                    <form method="POST" action="{{url_for('payment')}}">
                        <script src="https://js.stripe.com/v3/" 
                            class="stripe-button"
                            data-key="{{public_key}}"
                            data-amount="250"
                            data-name="Stripe Demo"
                            data-description="Donation for Stripe Demo"
                            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                            data-locale="auto"
                            data-zip-code="true">
                        </script>
                    </form>
                    <!-- src="https://checkout.stripe.com/checkout.js"  Might need this ref instead
                    Card number: 4242 4242 4242 4242
                    Exp: Any future date
                    CVC: Any 3 digits
                    ZIP: Any 5 digits
                    -->
                </div>
            </div>
            </div>
        </section>
    </body>
    <script >
        document.addEventListener('DOMContentLoaded', () => {
            (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
                const $notification = $delete.parentNode;

                $delete.addEventListener('click', () => {
                $notification.parentNode.removeChild($notification);
                });
            });
        });
    </script>
</html>

<!-- 
Form snippet for reference:
{{recruitment_form.hidden_tag()}}
                        <div class="field">
                            <label class="label">{{recruitment_form.name.label}}</label>
                            <div class="control">
                                {{recruitment_form.name(class_="input")}}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">{{recruitment_form.title.label}}</label>
                            <div class="control">
                                {{recruitment_form.title(class_="input")}}
                            </div>
                        </div>
                        <div class="control">
                            <button class="button is-info is-light">Submit</button>
                        </div>
-->